
:root { 
    box-sizing: border-box; 
    font-size: calc(0.5em + 1vw)
}

*, ::before, ::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: inherit;
    font-family: 'Raleway', sans-serif;
}

/*font-family: 'Monoton', cursive;
font-family: 'Raleway', sans-serif;*/

.navi{
    width: 100%;
    height: 56px;
}

.navi .links{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: #000000;
    position: relative;
    height: 100%;
    text-decoration: none;
}

.links .logo{
    height: 100px;
    width: 100px;
    background: #000000;
    position: absolute;
    top: 4px;
    padding: 0 5px 5px;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.links .logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.intro{
    background: url(img/concierto.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

h1{
    font-family: 'Monoton', cursive;
    font-size: 100px;
    color: orange;
}

p{
    color: orange;
}

.int-container{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    position: relative;
}
.grid3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    grid-gap: 0.5rem;
    padding: 40px 25px;;
    background-color: #ffffff;
}

/*.grid2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

.grid3 div img{
    width: 100%;
    height: 100%;
}

.grid{
    display: flex;
    justify-content: center;
    text-align: center;
}

