
:root { 
    box-sizing: border-box; 
    font-size: calc(0.5em + 1vw)
}

*, ::before, ::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: inherit;
    font-family: 'Raleway', sans-serif;
}

/*font-family: 'Monoton', cursive;
font-family: 'Raleway', sans-serif;*/

.navi{
    width: 100%;
    height: 56px;
}

.navi .links{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: #000000;
    position: relative;
    height: 100%;
    text-decoration: none;
}

.links .logo{
    height: 100px;
    width: 100px;
    background: #000000;
    position: absolute;
    top: 4px;
    padding: 0 5px 5px;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.links .logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.intro{
    background: url(img/concierto.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

h1{
    font-family: 'Monoton', cursive;
    font-size: 100px;
    color: orange;
}

p{
    color: black;
}

.orange{
    color: orange;
}

.int-container{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    position: relative;
}
.grid3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    grid-gap: 0.5rem;
    padding: 40px 25px;;
    background-color: #dbdada;
}

/*.grid2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

.grid3 div img{
    width: 100%;
    height: 100%;
}

.grid{
    display: flex;
    justify-content: center;
    text-align: left;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 5px;
}
.gridFor{
    display: flex;
    justify-content: left;
    text-align: left;
    border-radius: 3px;
    padding: 5px;
}

h4{
    color: #612e1d;
    margin-bottom: 10px;
    font-size: 1.3em;
    
}

.normal{
    background-color: orange;  
    color: #ffffff;
    border: none;
    padding: 9px;
    margin-top: 10px;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    font-size: 1em;
}


.normal:hover{
    cursor: pointer;
    background-color: white;
    color: orange;

}

co{
    color:#f5f5f5
    #000000
    #fff
    orange
    blue
    #dbdada
    #612e1d
    #13131342
    #440d5a
    #fef6f4
    rgba(245, 245, 245, 0.335)
    rgba(109, 104, 104, 0.801)
}


.form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: auto;
    grid-gap: 0.5rem;
    padding: 40px 25px;;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(img/contacus.jpg);
}

.area{
    border: 1px solid #8373ca;
    width: 100%;
    display: block;
    color: #ffffff;
    height: 160px;
    padding: 15px 20px;
}

label{
    color: #ffffff;
}

.footer1{
    background-color: black;
    color:white;
}

.footer1 .gridFooter div p{
    color: white;

}

.gridFooter{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: auto;
    grid-gap: 0.5rem;
    padding: 40px 25px;;
}

